
<% if user_signed_in? %>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editUserModal">
    Edit User
  </button>

  <!-- Modal -->
  <%= render 'user_form_modal' %>
<% end %>
